@media screen {
    div.str_pleca_01{
        margin-bottom:12px;
    }
    div.str_pleca_01_title {
        width: 100%;
        border-bottom: none;
    }
    div.str_pleca_01_title:before,
    div.str_pleca_01_title:after {
        content: "";
        display: table;
    }
    div.str_pleca_01_title:after {
        clear: both;        
    }
    .collapsable .str_pleca_01_title {
        position:relative;
    }
    div.str_pleca_01_title {
        zoom: 1;
        /* For IE 6/7 (trigger hasLayout) */
    }
    div.str_pleca_01_title strong,
    div.str_pleca_01_title h2,
    div.str_pleca_01_title h3 {
        width: 100%;
        font-size: 14px;
        float: left;
        text-align: left;
        height: 40px;
    }
    div.str_pleca_01_title strong a,
    div.str_pleca_01_title h2 a,
    div.str_pleca_01_title h3 a {
    
        text-decoration: none;
        line-height: 40px;
        display: block;
        padding:0 0 0 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .ie9 div.str_pleca_01_title strong a,
    .ie9 div.str_pleca_01_title h2 a,
    .ie9 div.str_pleca_01_title h3 a {  
        *background-position-x: right 10px;
        *background-position-y: 5px;
    }
    .str_pleca_01 .tvsa-caret-up,
    .str_pleca_01 .tvsa-caret-down{
        color: #FFFFFF;
        font-size:35px;
        font-weight:bold;
        cursor:pointer;
        display: block;
        float: right;
        position: absolute;
        right: 30px;
        top: -6px;
    }
}

