@media screen and (min-width: 624px){
    /* BEGIN: Global (Medium) */
    div.str_pleca_01{
        margin-bottom: 24px;
        border-bottom: 1px solid #CCC;
    }
    div.str_pleca_01_title:before,
    div.str_pleca_01_title:after {
        content: "";
        display: table;
    }
    div.str_pleca_01_title:after {
        clear: both;
    }
    div.str_pleca_01_title {
        zoom: 1;
        /* For IE 6/7 (trigger hasLayout) */
    }
    div.str_pleca_01_title strong,
    div.str_pleca_01_title h2,
    div.str_pleca_01_title h3 {
        width:47.7%;
        min-width: 165px;
        max-width:300px;
        float: left;
        height: 32px;
    }    
    div.str_pleca_01_title strong a,
    div.str_pleca_01_title h2 a,
    div.str_pleca_01_title h3 a {
        padding:0 0 0 24px;
        line-height: 30px;
    }
    div.str_pleca_01_title strong a span.icon,
    div.str_pleca_01_title h2 a span.icon,
    div.str_pleca_01_title h3 a span.icon {
        display: none;
    }
    /* END: Global (Medium) */
    .str_pleca_01 .tvsa-caret-up,
    .str_pleca_01 .tvsa-caret-down{
        display:none;   
    }
}
