@media screen and (min-width: 0px) {
    .wdg_goals_by_team_01{
        display: none;
        position: relative;
    }
    .wdg_goals_by_team_01 .pleca_superior{
        width: 100%; 
        position: relative;
        clear:both;
        height: 60px;
    }
    
    .wdg_goals_by_team_01 .background-color1{
        width: 48%;
        float: left;
        height: 31px;
    }
    .wdg_goals_by_team_01 .pleca_superior h3{
        font-size: 14px;
        margin: 8px 24px;
    }
    
    .wdg_goals_by_team_01 .background-color1 {
        background-color: #A70A0B !important;
    }
    
    .wdg_goals_by_team_01 .wdg_goals_by_team_01_dropdown {
        background-color: #ECECEC;
        box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1) inset;
        cursor: pointer;
        float: left;
        height: 30px;
        width: 100%;
        cursor: pointer;
        border-bottom: 1px solid #B9B9B9;
    }
    
    .wdg_goals_by_team_01 .wdg_goals_by_team_01_dropdown .wdg_goals_by_team_01_dropdowncontent p {
        color: #232323;
        display: inline-block;
        float: left;
        font-size: 14px;
        font-weight: bold;
        line-height: 30px;
        margin-left: 20px;
        width: 246px;
    }
    
    .wdg_goals_by_team_01 #dropdown-right {
        float: right;
        margin-left: 0;
        padding:0;
        position: relative;
        width: 32px;
        z-index: 1000;
        color:#FFF;
        display: block;
        text-align: center
    }

    .wdg_goals_by_team_01 #dropdown-right i{
        padding-top: 5px;
    }
    
    .wdg_goals_by_team_01 .background-color1 {
        float: left;
        height: 32px;
        width: 100%;
    }
    
    .wdg_goals_by_team_01 .wdg_goals_by_team_01_dropdown .wdg_goals_by_team_01_dropdowncontent span {
        float: right;
        margin-right: 11px;
        margin-top: 10px;
    }
    .sprite.dropdown-white {
        background-position: -188px -6px;
        height: 7px;
        width: 12px;
    }
    
    .wdg_goals_by_team_01 .wdg_goals_by_team_01_listcontainer {
        clear: both;
    }
    
    .wdg_goals_by_team_01 .wdg_goals_by_team_01_listcontainer ul {
        background-color: #F5F5F5;
        cursor: pointer;
        position: relative;
        visibility: hidden;
        z-index: 1000 !important;
        font-size: 14px;
        margin: 0;
    }
    
    .wdg_goals_by_team_01 .wdg_goals_by_team_01_listcontainer ul li {
        background-color: rgba(235, 235, 235, 0.6);
        border-bottom: 1px solid #D3D3D3;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1) inset;
        height: 25px;
        width: 100%;
        float: left;
        font-weight: bold;
        margin: 0;
        padding: 0px 0 6px 5px;
    }
    
    .wdg_goals_by_team_01 .wdg_goals_by_team_01_listcontainer ul li p {
        font-style: italic;
        font-weight: bold;
        line-height: 34px;
        margin-left: 20px;
    }
    .wdg_goals_by_team_01 .titulo_goal{
        font-size: 18px;
        height:45px;
        line-height:51px;
        border-bottom: #CCC 1px solid;
        padding:0 0 0 46px;
        margin-bottom: 31px;
        font-style: italic;
        word-spacing: -3px;
        overflow: hidden;
    }

    .wdg_goals_by_team_01 .titulo{
        color: #8f8f8f !important;
        font-size: 14px;
        border-bottom: #CCC 1px solid;
        padding-bottom: 6px;
        margin-bottom: 15px;
        font-weight: bold;
        text-transform: uppercase;
        word-spacing: -2px;
    }

    .wdg_goals_by_team_01 .goal{
        font-size:12px;
        font-weight: bold;
    }
    
    .wdg_goals_by_team_01 .head_team{
        border-bottom: 1px solid #ccc;
        clear: both;
        overflow: hidden;
        padding-bottom: 8px;
    }
    
    .wdg_goals_by_team_01 .head_team li{
        float: left;
        text-align: left;
        width: 190px;
        padding-left: 17px;
    }

    .wdg_goals_by_team_01 .team_divisor{
        clear: both;
        overflow: hidden;
    }

    .wdg_goals_by_team_01 .last_container{
        border-bottom: 1px solid #ccc;
    }

    .wdg_goals_by_team_01 .team li{
        line-height: 38px;
        float: left;
    }
        .wdg_goals_by_team_01 .team li p{
            margin: 5px 0;
            font-weight: bold;
        }

    .wdg_goals_by_team_01 .team .icon_team{
        text-align: center;
        width: 45px;
        margin-top: 12px;
    }

    .ie7 .wdg_goals_by_team_01 .team .icon_team{
        text-align: center;
        width: 45px;
        margin-top: 7px;
    }
    .wdg_goals_by_team_01 .team .name_team{
        width: 96px;
    }
    .wdg_goals_by_team_01 .team .stadistics_team{
        width: 66px;
    }
    .wdg_goals_by_team_01 .team .stadistics_team p{
        font-size:16px;
    }
    .wdg_goals_by_team_01 .team .last_child p{
        border-right: 0;        
    }
    
}